<%= post.user.user_name%>
            <%= link_to (image_tag post.image.url(:med), class:'img-responsive'), post_path(post) %>
                <br/>
                <p>
                    <%= post.caption %>
                        </td>
                </p>

                	<div class="comments" >
                        <div id= "comments_#{post.id}">
                            <%if post.comments %>
                                <%= render post.comments, post: post%>
                            <%end%>
                            </div>
                        </div>

                <div class="comment-like-form-row">
                    
                
                <div class="comment-form">
                    <div class="like-button-col-sm-1">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </div>
                        <div class="comment-form-col-sm-11">

                            <%= form_for([post, post.comments.build], remote: true) do |f|%>
								<%f.text_field :content, placeholder: "Add a comment...", class: "comment_content", id: "comment_content#{post.id}"%>
                            <% end -%>
                        </div>
                </div>
                </div>