<!DOCTYPE html>
<html>
  <head>
    <title>Cunogram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/x-icon" href="dog.png" />
  </head>

  <body>
  	<%=render "layouts/navbar"%>

    </div>
    <%= yield %>
  </body>
</html>
